.button {
    margin-top: 2rem;
    padding: 0.8rem 10rem;
    background-color: var(--stroke);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--slate-600);
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: background 0.2s linear;

    &:hover {
        background-color: var(--gray-onhover);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.countBtn {
    border: none;
    padding: 0.6rem;
    border-radius: 0.2rem;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s linear;

    &:hover {
        background-color: var(--white-onhover);
    }
}

.navBtn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 0.2rem;

    &:disabled {
        color: var(--slate-500);
    }
}
