* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.02em;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', 'sans-serif';
    margin: 2rem 0 2rem 0;
    color: var(--black);
}

:root {
    --font: 'Inter', 'sans-serif';
    --slate-500: #a8b0bf;
    --black: #0e1014;
    --black-onhover: #20242b;
    --primary: #1f92cc;
    --slate-600: #717885;
    --slate-100: #f5f7fa;
    --stroke: #ececed;
    --gray-onhover: #e3e3e3;
    --white: #ffffff;
    --white-onhover: #f3f3f3;
    --primary-100: #f1ebff;
    --violet: #8e6fe9;
    --red: #ed5d5e;
    --blue: #60bebe;
    --green: #70cb86;
    --yellow: #eac44a;
    --purple: #d16cd5;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.error {
    color: var(--red);
    margin-top: 1rem;
}

.error-illustration {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    .icon {
        background-color: var(--primary-100);
        border-radius: 50%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
}
