.item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--slate-600);
    line-height: 1.5rem;
}

.count {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.4rem;
}

.primary {
    height: 6rem;
    width: 6rem;
}

.primaryItem {
    grid-column: 1/3;
    grid-row: 1/3;
}
